<div class="card transparent-me">
  <div class="card-body">

    <div class="row underline boxNoMargin">
      <div class="col boxNoPadding">
        <fa-icon class="backButton" [icon]="['fa', 'chevron-circle-left']" (click)="goBack()"></fa-icon>
      </div>
      <div class="col boxNoPadding">
        <h5 class="card-title onTheLeftTitles">Verify</h5>
        <h6 class="card-subtitle mb-2 text-muted onTheLeftTitles">Account</h6>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <img>
        <span>An email has been sent to your email</span>
      </div>

    </div>

  </div>
</div>
