<div class="card transparent-me">
  <div class="card-body">
    <h5 class="card-title">{{formInfo.basicFormInfo.cardTitle}}</h5>
    <h6 class="card-subtitle mb-2 text-muted underline">{{formInfo.basicFormInfo.cardSubtitle}}</h6>
    <form (ngSubmit)="onSubmit.emit(this.form.value)" [formGroup]="form" class="form-horizontal">
      <div *ngFor="let field of formInfo.fields">
        <app-field-builder [field]="field" [form]="form"></app-field-builder>
      </div>

        <div class="form-group text-center button-login-margin">
          <button type="submit" class="btn btn-blue mb-2 margin-right-btn">Back</button>
          {{form.valid}}
          <button type="submit" class="btn btn-green mb-2 " [disabled]="!form.valid">Continue</button>
        </div>
    </form>
  </div>
</div>
