<div class="card transparent-me">
  <div class="card-body">
    <h5 class="card-title">Create</h5>
    <h6 class="card-subtitle mb-2 text-muted underline">your account</h6>

    <form [formGroup]="createAccount">

      <div class="form-group">
        <label class="form-control-label">
          Username
        </label>
        <div class="input-group">
          <input class="form-control" formControlName="userName">
          <fa-icon *ngIf="(f.userName.errors?.required || f.userName.errors?.minlength)" [icon]="['fa', 'exclamation-circle']"></fa-icon>
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label" for="password">
          Password
        </label>
        <div class="input-group">
          <input class="form-control" formControlName="password" id="password" type="password">
          <fa-icon *ngIf="f.password.errors?.required" [icon]="['fa', 'exclamation-circle']"></fa-icon>
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label" for="confirmPassword">
          Confirm Password
        </label>
        <div class="input-group">
          <input class="form-control" formControlName="confirmPassword" id="confirmPassword" type="password">
          <fa-icon *ngIf="f.confirmPassword.errors?.required" [icon]="['fa', 'exclamation-circle']"></fa-icon>
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label" for="firstName">
          First Name
        </label>
        <div class="input-group">
          <input class="form-control" formControlName="firstName" id="firstName">
          <fa-icon *ngIf="f.firstName.errors?.required" [icon]="['fa', 'exclamation-circle']"></fa-icon>
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label" for="middleName">
          Middle Name
        </label>
        <input class="form-control" formControlName="middleName" id="middleName">
      </div>

      <div class="form-group">
        <label class="form-control-label" for="lastName">
          Last Name
        </label>
        <div class="input-group">
          <input class="form-control" formControlName="lastName" id="lastName">
          <fa-icon *ngIf="f.lastName.errors?.required" [icon]="['fa', 'exclamation-circle']"></fa-icon>
        </div>
      </div>

      <div class="form-group text-center">
        <button type="submit" class="btn btn-green mb-2 " [disabled] = "!createAccount.valid">Confirm identity</button>
      </div>
    </form>

  </div>
</div>

