<div class="form-group" [formGroup]="form">
  <label class="form-control-label" [attr.for]="field.label">
    {{field.label}}
  </label>
  <div class="input-group" [ngSwitch]="field.type">
    <app-textbox class="dynamicForm-maxSize" *ngSwitchCase="'text'" [field]="field" [form]="form"></app-textbox>
    <app-radio class="dynamicForm-maxSize" *ngSwitchCase="'radio'" [field]="field" [form]="form"></app-radio>
    <fa-icon *ngIf="thisField.errors?.required" [icon]="['fa', 'exclamation-circle']"></fa-icon>
  </div>
</div>
