<div class="form-group" [formGroup]="form">
  <label class="form-control-label" [attr.for]="field.label"
         *ngIf="field.type !== 'switchToggleField' && field.type !== 'switchToggleFieldWithBox'
         && field.type !== 'textboxIncreaseDecrease' && field.type !== 'link'">
    {{field.label}}
  </label>
  <div class="input-group" [ngSwitch]="field.type">
    <app-textbox class="dynamicForm-maxSize" *ngSwitchCase="'text'" [field]="field" [form]="form"></app-textbox>
    <app-radio class="dynamicForm-maxSize" *ngSwitchCase="'radio'" [field]="field" [form]="form"></app-radio>
    <app-dropdown class="dynamicForm-maxSize" *ngSwitchCase="'dropdown'" [field]="field" [form]="form"></app-dropdown>
    <app-fileupload *ngSwitchCase="'file'" [field]="field" [form]="form" class="dynamicForm-maxSize"></app-fileupload>

    <app-switch-toggle-field *ngSwitchCase="'switchToggleField'" [field]="field" [form]="form"
                             class="dynamicForm-maxSize">
    </app-switch-toggle-field>



    <app-checkbox *ngSwitchCase="'checkbox'" [field]="field" [form]="form" class="dynamicForm-maxSize"></app-checkbox>


    <div class="dynamicForm-maxSize switch-box">
      <div class="dynamicForm-maxSize fa-pull-left">
        <label class="form-control-label mid-size" [attr.for]="field.label"
               *ngIf="field.type === 'switchToggleFieldWithBox'">
          {{field.label}}
        </label>
        <ui-switch class="align-middle switch-style" *ngSwitchCase="'switchToggleFieldWithBox'"
                   (change)="onChange($event)"></ui-switch>
      </div>

      <div class="input-group" *ngFor="let subField of field?.subFields">
        <div class="dynamicForm-maxSize" *ngIf="showMe" [ngSwitch]="subField.type">
          <label class="form-control-label" [attr.for]="subField.label">
            {{subField.label}}
          </label>
          <app-textbox class="dynamicForm-maxSize" *ngSwitchCase="'text'" [field]="subField"
                       [form]="form"></app-textbox>
        </div>
      </div>
    </div>

    <app-btradio class="dynamicForm-maxSize" *ngSwitchCase="'radioButtonToggle'" [field]="field"
                 [form]="form" [field]="thisField"></app-btradio>

    <app-sradio class="dynamicForm-maxSize" *ngSwitchCase="'radioSubmit'" [field]="field"
                [form]="form" (onSubmit)="submit.emit()"></app-sradio>

    <app-text-box-increase-decrease class="dynamicForm-maxSize" *ngSwitchCase="'textboxIncreaseDecrease'"
                                    [field]="field"
                                    [form]="form">
    </app-text-box-increase-decrease>

    <app-group-link [field]="field?.links"></app-group-link>

    <app-button-left-redirect class="dynamicForm-maxSize"  *ngSwitchCase="'app-button-left-redirect'" [field]="field"></app-button-left-redirect>


  </div>
</div>
