<div class="card transparent-me">
  <div class="card-body">
    <h5 class="card-title">Log in</h5>
    <h6 class="card-subtitle mb-2 text-muted underline"></h6>

    <form [formGroup]="login">
      <div class="form-group-error">
        <div class="text-center errorMessage">
          <span>Invalid username and/or password</span>
        </div>
      </div>
      <div class="form-group">
        <label class="form-control-label">
          Username
        </label>
        <div class="dynamicForm-maxSize">
          <input class="form-control" formControlName="userName">
          <fa-icon *ngIf="(f.userName.errors?.required || f.userName.errors?.minlength)" [icon]="['fa', 'exclamation-circle']"></fa-icon>
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label" for="password">
          Password
        </label>
        <div class="dynamicForm-maxSize">
          <input class="form-control" formControlName="password" id="password" type="password">
          <fa-icon *ngIf="f.password.errors?.required" [icon]="['fa', 'exclamation-circle']"></fa-icon>
        </div>
      </div>

      <div class="form-group">
          <a class="fa-pull-right forgot-password">Forgot Password?</a>
      </div>

      <div class="form-group text-center button-login-margin">
        <button type="submit" class="btn btn-blue mb-2 margin-right" (click)="goToCreateAccount()">Create Account</button>
        <button type="submit" class="btn btn-green mb-2 " [disabled] = "!login.valid">Log in</button>
      </div>
    </form>

  </div>
</div>

