<div class="card transparent-me">
  <div class="card-body">
    <div class="row text-center marginTopQuarter">
      <div class="col">
        <h5 class="card-title marginTopQuarterPx">Congratulations</h5>
        <h6 class="card-subtitle mb-2 text-muted marginTopQuarterPx">Your application has been submitted</h6>
      </div>
    </div>
    <div class="form-group text-center marginTopQuarterPx">
      <button class="btn btn-green mb-2 " (click)="logout()"> Continue</button>
    </div>
  </div>
</div>
